<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Insembly</title>

  <link href="https://fonts.googleapis.com/css?family=Mulish:300,400,500" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  <script src="{{ url_for('static', filename='index.js') }}" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <div class="header">
      <div class="header-text">[INSEMBLY] Giám sát đóng gói hộp điện thoại</div>
    </div>

    <div class="main-container">
      <div class="detection-container">
        <div class="camera">
          <div class="small-title-container">
            <div class="small-title">Video</div>
            <div id="clock_display" class="small-title clock" onload="showTime()"></div>
          </div>
          <img src="{{ url_for('video_feed') }}" alt="Camera feed">
        </div>

        <div class="detection-info">
          <div class="detection-current">
            <div>
              <div class="small-title">Hành động</div>
              <div class="action-current" id="action"></div>
            </div>

            <div>
              <div class="small-title">Vật thể</div>
              <div class="object-current" id="object"></div>
            </div>
          </div>

          <div class="action-logs">
            <div class="raw-logs" id="action_stream"></div>
          </div>
        </div>
      </div>

      <div class="report-container">
        <div class="process-report-container">
          <div class="small-title-container">
            <div class="small-title">Lịch sử hành động</div>
            <a href="/report">Toàn bộ</a>
          </div>
          <div class="process-report" id="report_stream"></div>
        </div>

        <div class="process-report-error-container" id="notification_area">
          <div class="small-title">Thông báo</div>
        </div>
      </div>
    </div>

    <div class="footer">
      Thesis - Second semester 2022-2023
    </div>
  </div>
</body>

</html>