<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
    <div class="container">
        <div class="header">
          <div class="header-text">[INSEMBLY] Giám sát đóng gói hộp điện thoại</div>
        </div>
        <div style="width: 80%; margin: auto;">
            <div class="small-title" style="margin: 24px 0;">Tất cả báo cáo quy trình</div>
            {% for file in files %}
            <div style="margin: 12px 0;">
                <a href="/report/{{ file }}" style="font-size: 18px;">{{ file }}</a>
            </div>
            {% endfor %}
        </div>
        <div class="footer">
          Thesis - Second semester 2022-2023
        </div>
    </div>
</body>

</html>